:root{
  /* Custom Colors */
  --basic-bg: #293449;
  --header-bg: #ffffff;
  --main-grey: #F1F5F7;  /*main; services bg;*/
  --make-order-button: #63A63E;
  --main-purple: #32425C; /* main nav bg; info-item; popular goods font color; delivery font*/
  --promo-materials: #FFBF47;
  --promo-instruments: #3BBCE3;
  --promo-vehicles: #DC91D8;
  --promo-discounts: #8ED78F;
  --promo-delivery: #FFC047;
  --promo-perforators-top: rgba(0,0,0,0.25);
  --basic-red: #EE3643;
  --popular-bg: #F9F5F0;
  --basic-white: #FFFFFF;
    /* Fonts' Colors*/
  --basic-black: #000000;
  --address-bottom: #F3F7F9;
  --strikethrough-grey: #A9A9A9;
  --footer-yellow: #FFD180;
}
/* Global */

body{
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--basic-white);
  color: var(--basic-black);
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.main-header {
  background-color: var(--header-bg);
}
.first-navigation{
  background-color: var(--basic-bg);
}
.first-navigation a {
  color: var(--basic-white);
  height: 100%;
}
.main-header-logo {
  height: 100%;
  width: 220px;
  float: left;
  background-color: var(--basic-red);
  border-bottom: 4px solid #EE3643;
}
.main-header-logo img{
position: relative;
left: 52px;
top:10px;
}

.main-header-wrapper{
  margin-left: 130px;
  width: 100%;
  height: 42px;
}
.products-nav{
  display: inline-block;
  height: 100%;
}
.bookmarks{
  display: inline-block;
}

.btn-user.bookmarks::before{
  content: url(../img/icon-bookmark.svg);
  margin-right: 9px;
}

.btn-user.cart::before{
  content: url(../img/icon-cart.svg);
  margin-right: 9px;
}
.order{
  background: #63A63E;
  display: inline-block;
}

/* search bar */

.search-form{
  position: relative;
  float: left;
  display: block;
  height: 42px;
  width: 270px;
  
}
.search-form input{
  background: var(--basic-bg);
  border: none;
  outline: none;
  width: 200px;
  height: 42px;
  padding: 0px 20px 0px 50px;
}

.search-form .search-icon{
  position: absolute;
  left: 15px;
  top: 10px;
  font-size: 17px;
  line-height: 18px;
}


.search::placeholder {
  color: var(--basic-white);
  opacity: 1;
}
.search:focus{
  background: var(--basic-white);
  outline: none;
}

.search-icon{
  fill: var(--basic-white);
  opacity: 0.3;
}
.search:focus + label>.search-icon{
  opacity: 1;
  fill: red;
}
.search:focus::placeholder{
  color: var(--basic-black);
  opacity: 1;

}
/* end of search bar */

.login-section a{
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
}
.login-section div{
  background-color: var(--basic-white);
}

.second-navigation p:first-child{
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}
.address-top{
  font-size: 14px;
  line-height: 24px;
  color: var(--main-purple);
}
.address-top-phone{
  border: 2px solid var(--basic-white);
}
.address-top-phone a{
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: var(--basic-red);

}
.site-navbar{
  background-color: var(--main-purple);
}
.feature-list{
  list-style: none;
}
.feature-item a{
  color: var(--basic-white);
}
